@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 3.9%;
    --foreground: 0 0% 0%;

    --card: 220 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 220 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 175 75% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 3.7% 15.9%;
    --muted-foreground: 220 5% 64.9%;

    --accent: 220 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 3.7% 15.9%;
    --input: 220 3.7% 15.9%;
    --ring: 175 75% 40%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

